<?xml version="1.0" encoding="ISO-8859-1"?>
<biscoito_config>
    <site>http://localhost:8080/Biscoito/</site>
    <index>
        <modulo>administrador</modulo>
        <controle>TAdministradorControl</controle>
        <acao>ExibirPainel</acao>
    </index>
    <database>
        <driver>MYSQL</driver>
        <servidor>localhost</servidor>
        <usuario>root</usuario>
        <senha></senha>
        <base>biscoito_teste</base>
    </database>
</biscoito_config>
