<?xml version="1.0" encoding="ISO-8859-1"?>
<modulo_config>
    <nome>Usuário</nome>
    <descricao></descricao>
    <autor></autor>
    <versao></versao>
    <data_criacao></data_criacao>
    <namespace>Biscoito\Modulos\Usuario</namespace>
    <classes>
        <TUsuarioControl arquivo="usuario.control.php" controle="true"></TUsuarioControl>
        <TUsuario arquivo="usuario.model.php">
            <nome>VARCHAR(200) NOT NULL</nome>
            <usuario>VARCHAR(32) NOT NULL UNIQUE</usuario>
            <senha>VARCHAR(32) NOT NULL</senha>
            <ultimoLogin>TIMESTAMP</ultimoLogin>
            <tipo>INTEGER NOT NULL</tipo>
        </TUsuario>
    </classes>
    <menu>
        <opcao>Adicionar</opcao>
        <opcao>Gerenciar</opcao>
    </menu>
</modulo_config>
