<?xml version="1.0" encoding="utf-8"?>
<modulo_config>
    <nome>Usuários</nome>
    <descricao></descricao>
    <autor></autor>
    <versao></versao>
    <data_criacao></data_criacao>
    <namespace>Biscoito\Modulos\Usuario</namespace>
    <index>
        <controle>TUsuarioControl</controle>
        <acao>Gerenciar</acao>
    </index>
    <acesso>
        ADMINISTRADOR
        LOCAL
    </acesso>
    <classes>
        <TUsuarioControl arquivo="usuario.control.php" controle="true"></TUsuarioControl>
        <TUsuario arquivo="usuario.class.php">
            <nome>VARCHAR(50) NOT NULL</nome>
            <nomeDoMeio nulo="true">VARCHAR(100)</nomeDoMeio>
            <sobrenome>VARCHAR(50) NOT NULL</sobrenome>
            <usuario>VARCHAR(32) NOT NULL UNIQUE</usuario>
            <senha>VARCHAR(32) NOT NULL</senha>
            <ultimoLogin>TIMESTAMP</ultimoLogin>
            <tipousuario_id relacionamento="TTipoUsuario" cardinalidade="1">INTEGER NOT NULL</tipousuario_id>
            <loja_id relacionamento="TLoja" cardinalidade="1" nulo="true">INTEGER</loja_id>
            <status>CHAR(1) NOT NULL DEFAULT '1'</status>
        </TUsuario>
        <TTipoUsuarioControl sub-modulo="tipousuario" arquivo="tipousuario.control.php" controle="true"></TTipoUsuarioControl>
        <TTipoUsuario sub-modulo="tipousuario" arquivo="tipousuario.class.php">
            <nome>VARCHAR(200) NOT NULL</nome>
            <flag>VARCHAR(30) NOT NULL</flag>
        </TTipoUsuario>
    </classes>
    <sql>
        <ontusuariocreate>
            INSERT INTO tusuario (nome, sobrenome, usuario, senha, tipousuario_id) VALUES ('Administrador','Padrão','admin','21232f297a57a5a743894a0e4a801fc3', 2);
        </ontusuariocreate>
        <onttipousuariocreate>
            ALTER TABLE ttipousuario ADD column nome VARCHAR(200) NOT NULL;
            ALTER TABLE ttipousuario ADD column flag VARCHAR(30) NOT NULL;
            INSERT INTO ttipousuario (nome,flag) VALUES ('Cliente','USUARIO');
            INSERT INTO ttipousuario (nome,flag) VALUES ('Administrador', 'ADMINISTRADOR');
            INSERT INTO ttipousuario (nome,flag) VALUES ('Adm. Local', 'LOCAL');
            INSERT INTO ttipousuario (nome,flag) VALUES ('Adm. Caixa', 'CAIXA');
        </onttipousuariocreate>
    </sql>
</modulo_config>
