<?xml version="1.0" encoding="utf-8"?>
<modulo_config>
    <nome>Usuários</nome>
    <descricao></descricao>
    <autor></autor>
    <versao></versao>
    <data_criacao></data_criacao>
    <namespace>Biscoito\Modulos\Usuario</namespace>
    <index>
        <controle>TUsuarioControl</controle>
        <acao>Gerenciar</acao>
    </index>
    <acesso>
        ADMINISTRADOR        
    </acesso>
    <classes>
        <TUsuarioControl arquivo="usuario.control.php" controle="true"></TUsuarioControl>
        <TUsuario arquivo="usuario.class.php">
            <Nome>VARCHAR(50) NOT NULL</Nome>
            <NomeDoMeio nulo="true">VARCHAR(100)</NomeDoMeio>
            <Sobrenome>VARCHAR(50) NOT NULL</Sobrenome>
            <Usuario>VARCHAR(32) NOT NULL UNIQUE</Usuario>
            <Senha>VARCHAR(32) NOT NULL</Senha>
            <UltimoLogin>TIMESTAMP</UltimoLogin>
            <TipoUsuario_Id relacionamento="Biscoito\Modulos\Usuario\TipoUsuario\TTipoUsuario" cardinalidade="1"></TipoUsuario_Id>
            <Status>CHAR(1) NOT NULL DEFAULT '1'</Status>
        </TUsuario>
        <TTipoUsuarioControl sub-modulo="TipoUsuario" arquivo="tipousuario.control.php" controle="true"></TTipoUsuarioControl>
        <TTipoUsuario sub-modulo="TipoUsuario" arquivo="tipousuario.class.php">
            <Nome>VARCHAR(200) NOT NULL</Nome>
            <Flag>VARCHAR(30) NOT NULL</Flag>
        </TTipoUsuario>
    </classes>
    <sql>
        <ontusuariocreate>
            INSERT INTO tusuario (Nome, Sobrenome, Usuario, Senha, TipoUsuario_Id) VALUES ('Administrador','Padrão','admin','21232f297a57a5a743894a0e4a801fc3', 1);
        </ontusuariocreate>
        <onttipousuariocreate>                    
            INSERT INTO ttipousuario (Nome,Flag) VALUES ('Administradores','ADMINISTRADOR');
            INSERT INTO ttipousuario (Nome,Flag) VALUES ('Usuários','USUARIO');            
        </onttipousuariocreate>
    </sql>
</modulo_config>
