<?xml version="1.0" encoding="ISO-8859-1"?>
<modulo_config>
    <nome>Galeria</nome>
    <descricao>Módulo padrão do Biscoito para gerenciamento de galerias de imagens.</descricao>
    <autor>Natanael Simões</autor>
    <versao>1.0</versao>
    <data_criacao>15/06/2012</data_criacao>
    <namespace>Biscoito\Modulos\Galeria</namespace>
    <index>
        <controle>TGaleriaControl</controle>
        <acao>Gerenciar</acao>
    </index>
    <classes>
        <TGaleriaControl arquivo="galeria.control.php" controle="true"></TGaleriaControl>
        <TGaleria arquivo="galeria.class.php">
            <nome>VARCHAR(200) NOT NULL</nome>
            <descricao>VARCHAR(500)</descricao>
            <fonte>VARCHAR(200)</fonte>
            <dataCriacao>TIMESTAMP NOT NULL DEFAULT now()</dataCriacao>
            <publicado>CHAR(1) NOT NULL DEFAULT 'S'</publicado>
            <local>VARCHAR(150)</local>
            <categoria_id relacionamento="TCategoriaGaleria" cardinalidade="1"></categoria_id>
            <capa_id relacionamento="TFoto" cardinalidade="1" nulo="true"></capa_id>
        </TGaleria>
        <TFoto arquivo="foto.class.php">
            <descricao>VARCHAR(500)</descricao>
            <caminho>VARCHAR(1000) NOT NULL</caminho>
            <largura>INTEGER NOT NULL</largura>
            <altura>INTEGER NOT NULL</altura>
            <tipo>VARCHAR(20) NOT NULL</tipo>
            <galeria_id relacionamento="TGaleria" cardinalidade="1" nulo="true"></galeria_id>
        </TFoto>
        <TCategoriaGaleriaControl sub-modulo="categoriagaleria" arquivo="categoriagaleria.control.php"></TCategoriaGaleriaControl>
        <TCategoriaGaleria sub-modulo="categoriagaleria" arquivo="categoriagaleria.class.php">
            <nome>VARCHAR(200) NOT NULL</nome>
        </TCategoriaGaleria>
        <TLogomarcaControl sub-modulo="logomarca" arquivo="logomarca.control.php" controle="true"></TLogomarcaControl>
        <TLogomarca arquivo="logomarca.class.php"></TLogomarca>
    </classes>
    <configuracoes>
        <opcao tipo="secao">
            <nome>Redimensionamento</nome>
            <info>Toda imagens enviado pela galeria será redimensionada para a seguinte configuração</info>
            <opcao>
                <nome>Largura (px)</nome>
                <info>Valor em pixels da largura da imagem a ser gerada</info>
                <valor>1024</valor>
            </opcao>
            <opcao>
                <nome>Altura (px)</nome>
                <info>Valor em pixels da altura da imagem a ser gerada</info>
                <valor>768</valor>
            </opcao>
        </opcao>
    </configuracoes>
</modulo_config>
