<?xml version="1.0" encoding="ISO-8859-1"?>
<modulo_config>
    <nome>Administrador</nome>
    <descricao>Administrador</descricao>
    <autor>Natanael Simões</autor>
    <versao>0.1</versao>
    <data_criacao>03/05/2012</data_criacao>
    <namespace>Biscoito\Modulos\Administrador</namespace>
    <index>
        <acao>ExibirPagina</acao>
    </index>
    <classes>
        <TAdministradorControl arquivo="administrador.control.php" controle="true"></TAdministradorControl>
        <TMenu arquivo="menu.class.php"></TMenu>
        <TMenuOpcao arquivo="opcao.class.php"></TMenuOpcao>
        <TMenuControl sub-modulo="menu" arquivo="menu.control.php" controle="true"></TMenuControl>
        <TBreadcrumb arquivo="breadcrumbs.class.php"></TBreadcrumb>
        <TBreadcrumbsControl sub-modulo="breadcrumbs" arquivo="breadcrumbs.control.php" controle="true"></TBreadcrumbsControl>
    </classes>    
</modulo_config>
