<?xml version="1.0" encoding="utf-8"?>
<modulo_config>
  <nome>Páginas</nome>
  <descricao>Gerencimento de páginas</descricao>
  <autor>Natanael Simões</autor>
  <versao>1.0</versao>
  <data_criacao>30/08/2012</data_criacao>
  <namespace>Biscoito\Modulos\Pagina</namespace>
  <index>
    <controle>TPaginaControl</controle>
    <acao>Gerenciar</acao>
  </index>
  <classes>
    <TPaginaControl arquivo="pagina.control.php" controle="true"></TPaginaControl>
    <TPagina arquivo="pagina.class.php">
      <Nome>VARCHAR(100) NOT NULL</Nome>
      <Conteudo>TEXT</Conteudo>
      <Pagina_id nulo="">INTEGER</Pagina_id>
    </TPagina>
  </classes>
  <sql>
    <onTPaginaCreate>
      INSERT INTO TPagina (Nome,Conteudo) VALUES ('Página de Teste', 'Esta é uma página de teste');
    </onTPaginaCreate>
  </sql>
</modulo_config>
